<ion-app>

    <ion-router-outlet></ion-router-outlet>

</ion-app>


<!--TODO PARA LO DEL CARRITO FLOTANTE-->
<div class="EstiloCarrito" (click)="ClickCarrito()" [hidden]="this.inventoryService.cartService.ListaTablaProductosSeleccionados.length == 0 || this.inventoryService.CarritoEnFinal" [ngClass]="(inventoryService.CarrosAbiertos > 0 || inventoryService.BuscadoresAbiertos > 0) ? 'Abierto':''">
    <!--    Circulo Contenedor-->
    <div style="width: 5vh;height: 5vh;background-color: white;border-radius: 40px;display: flex;margin: auto;position: relative;border: solid 1px #a6a6a6;">
        <div style="margin: auto">{{this.inventoryService.cartService.ListaTablaProductosSeleccionados.length}}</div>
    </div>
    <!--    Titulo-->
    <div style="display: flex;flex-direction: column;margin: auto;margin-left: 0;">
        <ion-label style="text-align: center;font-weight: bold;color: rgb(255, 255, 255);font-size: 120%">{{ roundnum(this.inventoryService.cartService.ValorTotalTabla) | currency : 'USD' : 'symbol' : '1.0'}}</ion-label>
        <ion-label style="text-align: center;font-weight: 500;color: rgb(255, 255, 255);font-size: 70%">Completar Orden</ion-label>
    </div>
</div>